@mixin font-h1 {
  color: $main-text-color;
  font: 700 3.75rem/1.22 $main-font-family;
}

@mixin font-h2 {
  color: $main-text-color;
  font: 600 2.5rem/1.225 $main-font-family;
}

@mixin font-h3 {
  color: $main-text-color;
  font: 800 3.125rem/0.8 $main-font-family;
}

@mixin font-h4 {
  color: $main-text-color;
  font: 700 1.25rem/1.5 $main-font-family;
}

@mixin font-h5 {
  color: $main-text-color;
  font: 500 1.25rem/1.1 $main-font-family;
}

@mixin font-h6 {
  color: $main-text-color;
  font: 700 1.375rem/1.22 $main-font-family;
}

@mixin font-par {
  color: $main-text-color;
  font: 400 1rem/1.875 $main-font-family;
}