$main-text-color: #000;
$second-text-color: #e33e54;
$nav-link-color: #4c858b;
$tel-text-color: #ae2236;
$icon-border-color: #E5E5E5;
$cart-count-color: #fff;
$breadcrumbs-color: #b1b1b1;
$marker-color: #ea6628;

$bg-footer: #0c2f33;
$bg-button: #215359;

$main-font-family: Montserrat, arial, sans-serif;
$second-font-family: Lato, arial, sans-serif;