.reasons-item {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__heading {
    margin: 0;
    @include font-h4;
  }

  &__info {
    margin: 0;
    @include font-par;

    &>span {
      color: $second-text-color;
      font-weight: 600;
    }
  }
}