.page {
  width: 100%;
  max-width: 1920px;

  &__container {
    max-width: 1218px;
    padding-top: 3.25em;
    margin: 0 auto;
  }

  &__heading-page {
    margin-bottom: 2.563em;
  }
}

