.page {
  width: 100%;
  max-width: 1920px;

  &__container {
    max-width: 1218px;
    padding-top: 3.25em;
    margin: 0 auto;
  }

  &__heading-page {
    margin-bottom: 2.563em;
  }

  &__breadcrumbs {
    margin-bottom: 5.25em
    ;
  }

  &__info-company {
    margin-bottom: 3.313em;
  }

  &__benefits {
    margin-bottom: 7.25em;
  }

  &__process {
    margin-bottom: 5.438em;
  }

  &__reasons {
    margin-bottom: 5.375em;
  }

  &__consultation {
    margin-bottom: 6.625em;
  }

  &__movie {
    margin-bottom: 6.188em;
  }

  &__photo-works-item {
    max-width: 1234px;
    margin: 0 auto;
    margin-bottom: 112px;
  }
}

