.photo-works {
  width: 100%;

  &__heading {
    position: relative;
    margin: 0;
    margin-bottom: 1.65em;
    padding-top: 0.4em;
    @include font-h2;

    &::before {
      content: "";
      position: absolute;
      height: 5px;
      width: 74px;
      background: $second-text-color;
      top: 0;
      left: -3px;
    }
  }

  &__info {
    margin: 0;
    margin-bottom: 42px;
    @include font-par;
  }
}