mixin search
  .search
    img.search__icon(src="../../assets/images/loupe.svg", alt="Search icon")
    input.search__input(type="search", name="search")
    img.search__close(src="../../assets/images/cross.png", alt="Close")